body{
    background-image: url(images/wood.jpg);
    background-size: cover;
}
.first{
    text-align: center;
    font-family: 'Henny Penny', cursive;
    padding: 25px;
}
.btn{
    float: right;
}
.one{
    font-family: 'Henny Penny', cursive; 
    background: transparent; 
    background-color: black;
    color: white;
}
.pepperoni{
    width: 180px;
    height: 195px;
}
.two{
    font-family: 'Henny Penny', cursive; 
    background: transparent; 
    background-color: black;
    color: white;
}
.vegeterian{
    height: 195px;
    width: 180px;
}.three{
    font-family: 'Henny Penny', cursive; 
    background: transparent; 
    background-color: black;
    color: white;
}
.margarita{
    height: 195px;
    width: 180px;
}
.four{
    font-family: 'Henny Penny', cursive; 
    background: transparent; 
    background-color: black;
    color: white;
}
.tandoori{
    width: 180px;
    height: 193px;
}
.five{
    font-family: 'Henny Penny', cursive; 
    background: transparent; 
    background-color: black;
    color: white;
}
.sausage{
    height: 195px;
    width: 180px;
}
.six{
    font-family: 'Henny Penny', cursive; 
    background: transparent; 
    background-color: black;
    color: white;
}
.tikka{
    height: 195px;
    width: 180px;
}
